<h1><%=@dojos.branch%></h1>
<p>Address:<%=@dojos.street%></p>
<p> City: <%=@dojos.city%>   State:<%=@dojos.state%> </p>

<u><a href="/dojos">Home</a></u> |
<u><a href="/dojos/<%= @dojos.id %>/edit">Edit</a></u>
